
<!-- This detects windows and changes fonts as to not break the screen -->
<script src="@root_path/public/docs/javascript/jquery.client.js"></script>

<script type="text/javascript">
		$(document).ready(function(){
    if ($.client.os == "Windows-NOT-DELETE-THIS-TO-MAKE_WORK")
    {
        $("body").css('font-family', 'Helvetica, helvetica, "Helvetica Neue", arial, sans-serif');        
    }
    
    
    $("#archive-container").slideDown('slow')
    
       
       
   // This is the sound stuff like disable things etc
    /*var audioElement1 = document.getElementById('sound-print');
    var audioElement2 = document.getElementById('sound-events');
    var audioElement3 = document.getElementById('sound-cafes');
    var audioElement4 = document.getElementById('sound-image-making');
    var audioElement5 = document.getElementById('sound-logo-types');
    
     $('.volumeMin').click(function() {
	  audioElement1.volume=0;
	});   
     $('.volumeMin').click(function() {
	  audioElement2.volume=0;
	}); 
     $('.volumeMin').click(function() {
	  audioElement3.volume=0;
	});
	$('.volumeMin').click(function() {
	  audioElement4.volume=0;
	});
	$('.volumeMin').click(function() {
	  audioElement5.volume=0;
	});
    */
    
});




</script>

</script>


