			get "/projects" do
			<h2 class="col toplink if @is_current do toplinkcurrent endif">
				<a href="@url">@page_name</a>
			</h2>
			end
			get "/archive" do
			<h2 class="col toplink if @is_current do toplinkcurrent endif">
				<a href="@url">@page_name</a>
			</h2>
			end
			<h2 class="col toplink">
				<a href="http://oipssst.blogspot.com/">BLOG</a>
			</h2>
			get "/studio" do
			<h2 class="col toplink if @is_current do toplinkcurrent endif">
				<a href="@url">@page_name</a>
			</h2>
			end
			<h2 class="col toplink lowercase">
				<a href="mailto:hello AT thaliaeconomo.com">hello@thaliaeconomo.com</a>
			</h2>
			
		