vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 May 2012 18:50:53 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|06 May 2012 18:50:53 -0000
vti_filesize:IR|1448
vti_cachedtitle:SR|@name's Portfolio
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|@root_path/ Q|@root_path/public/docs/css/screen.css Q|http://fonts.googleapis.com/css H|/favicon.ico S|@root_path/public/docs/javascript/jquery-1.7.1.min.js S|@root_path/public/docs/javascript/jquery.masonry.min.js H|/
vti_cachedsvcrellinks:VX|NHUS|_gsdata_/_history_/templates/@root_path/ NQUS|_gsdata_/_history_/templates/@root_path/public/docs/css/screen.css NQHS|http://fonts.googleapis.com/css FHUS|favicon.ico NSUS|_gsdata_/_history_/templates/@root_path/public/docs/javascript/jquery-1.7.1.min.js NSUS|_gsdata_/_history_/templates/@root_path/public/docs/javascript/jquery.masonry.min.js DHUS|
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_title:SR|@name's Portfolio
vti_backlinkinfo:VX|
