vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 May 2012 05:42:22 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|10 May 2012 05:42:22 -0000
vti_filesize:IR|1474
vti_cachedtitle:SR|@name's Portfolio - @title
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|@root_path/ Q|@root_path/public/docs/css/screen.css Q|http://fonts.googleapis.com/css H|/favicon.ico S|@root_path/public/docs/javascript/jquery-1.7.1.min.js S|@root_path/public/docs/javascript/jquery.masonry.min.js H|/
vti_cachedsvcrellinks:VX|NHUS|templates/@root_path/ NQUS|templates/@root_path/public/docs/css/screen.css NQHS|http://fonts.googleapis.com/css FHUS|favicon.ico NSUS|templates/@root_path/public/docs/javascript/jquery-1.7.1.min.js NSUS|templates/@root_path/public/docs/javascript/jquery.masonry.min.js DHUS|
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_title:SR|@name's Portfolio - @title
vti_backlinkinfo:VX|
