vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 May 2012 21:40:05 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|06 May 2012 21:40:05 -0000
vti_filesize:IR|4036
vti_cachedtitle:SR|@name's Portfolio
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|@root_path/ Q|@root_path/public/docs/css/screen.css Q|http://fonts.googleapis.com/css H|/favicon.ico S|@root_path/public/docs/javascript/jquery-1.7.1.min.js S|@root_path/public/docs/javascript/jquery.masonry.min.js H|/ S|/public/sounds/prints.mp3 S|/public/sounds/prints.ogg S|/public/sounds/events.mp3 S|/public/sounds/events.ogg S|/public/sounds/cafes.mp3 S|/public/sounds/cafes.ogg S|/public/sounds/image-making.mp3 S|/public/sounds/image-making.ogg S|/public/sounds/logo-types.mp3 S|/public/sounds/logo-types.ogg
vti_cachedsvcrellinks:VX|NHUS|_gsdata_/_history_/templates/@root_path/ NQUS|_gsdata_/_history_/templates/@root_path/public/docs/css/screen.css NQHS|http://fonts.googleapis.com/css FHUS|favicon.ico NSUS|_gsdata_/_history_/templates/@root_path/public/docs/javascript/jquery-1.7.1.min.js NSUS|_gsdata_/_history_/templates/@root_path/public/docs/javascript/jquery.masonry.min.js DHUS| FSUS|public/sounds/prints.mp3 FSUS|public/sounds/prints.ogg FSUS|public/sounds/events.mp3 FSUS|public/sounds/events.ogg FSUS|public/sounds/cafes.mp3 FSUS|public/sounds/cafes.ogg FSUS|public/sounds/image-making.mp3 FSUS|public/sounds/image-making.ogg FSUS|public/sounds/logo-types.mp3 FSUS|public/sounds/logo-types.ogg
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_title:SR|@name's Portfolio
vti_backlinkinfo:VX|
