vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 May 2012 20:57:46 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|08 May 2013 02:02:55 -0000
vti_filesize:IR|2325
vti_cachedtitle:SR|@name's Portfolio - Archive
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|@root_path/ Q|@root_path/public/docs/css/screen.css Q|http://fonts.googleapis.com/css H|/favicon.ico S|/public/docs/javascript/jquery-1.7.1.min.js H|/ H|@url H|@url H|/ S|/public/images/cross.jpg
vti_cachedsvcrellinks:VX|NHUS|_gsdata_/_history_/templates/@root_path/ NQUS|_gsdata_/_history_/templates/@root_path/public/docs/css/screen.css NQHS|http://fonts.googleapis.com/css FHUS|favicon.ico FSUS|public/docs/javascript/jquery-1.7.1.min.js DHUS| NHUS|_gsdata_/_history_/templates/@url NHUS|_gsdata_/_history_/templates/@url DHUS| FSUS|public/images/cross.jpg
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_title:SR|@name's Portfolio - Archive
vti_backlinkinfo:VX|
