vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 May 2012 04:18:52 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|08 May 2012 04:18:52 -0000
vti_filesize:IR|1236
vti_cachedlinkinfo:VX|S|@root_path/public/docs/javascript/jquery.client.js
vti_cachedsvcrellinks:VX|NSUS|templates/partials/navigation/@root_path/public/docs/javascript/jquery.client.js
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
