<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@name's Portfolio</title>
		<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
		<link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen"> 
		<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<script src="@root_path/public/docs/javascript/jquery-1.7.1.min.js"></script>
		<script src="@root_path/public/docs/javascript/jquery.masonry.min.js"></script>
		
		
		
		
		
	</head>
	<body>
		<div id="container">
		<!-- unused volume disable to be worked on <div class="volumeMin">min</div> -->
		<div id="topbar">
			<a href="/"><h1 id="logo" class="col two">
				<span class="hidden">@name
				<em>@profession</em></span>
			</h1></a>		
			:navigation
			<p class="col six hidden"><em> :pages </em></p>
		</div>
		
			<hr>
			<div id="content" class="home col fullwidth">			
				<div id="content-container" class="project-list col twelve" style="width: 1100px;">			
					:category_lists							
				</div>		
			</div>
			
	
			<hr>
			<p id="footer" class="col fullwidth">
			:footer	
			</p>
		</div>
		

<!-- Here are some Javascript Includes etc to make things pretty -->




<!-- This one takes care of the Category rollovers -->
<script type="text/javascript">
$(function() {
    $('img[data-hover]').hover(function() {
        $(this).attr('tmp', $(this).attr('src')).attr('src', $(this).attr('data-hover')).attr('data-hover', $(this).attr('tmp')).removeAttr('tmp');
    }).each(function() {
        $('<img />').attr('src', $(this).attr('data-hover'));
    });;
});
</script>

<!-- This is the Masonary script that puts things in nice boxes and aligns them -->	
<script type="text/javascript">
var $container = $('#content-container');

$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.project_thumb',
  });
});
</script>

<!-- for the quirky, zany little sound fx! -->

<audio id="sound-print" preload="auto">
	<source src="/public/sounds/prints.mp3"></source>
	<source src="/public/sounds/prints.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>

<audio id="sound-events" preload="auto">
	<source src="/public/sounds/events.mp3"></source>
	<source src="/public/sounds/events.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>

<audio id="sound-cafes" preload="auto">
	<source src="/public/sounds/cafes.mp3"></source>
	<source src="/public/sounds/cafes.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>

<audio id="sound-image-making" preload="auto">
	<source src="/public/sounds/image-making.mp3"></source>
	<source src="/public/sounds/image-making.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>

<audio id="sound-logo-types" preload="auto">
	<source src="/public/sounds/logo-types.mp3"></source>
	<source src="/public/sounds/logo-types.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>


<script type="text/javascript">

  
var audio = $("#sound-print")[0];
$("#audio-print a").mouseenter(function() {
audio.play();
});
  
var audio2 = $("#sound-events")[0];
$("#audio-events a").mouseenter(function() {
audio2.play();
});

var audio3 = $("#sound-cafes")[0];
$("#audio-cafes a").mouseenter(function() {
audio3.play();
});

var audio4 = $("#sound-image-making")[0];
$("#audio-image-making a").mouseenter(function() {
audio4.play();
});

var audio5 = $("#sound-logo-types")[0];
$("#audio-logo-types a").mouseenter(function() {
audio5.play();
});

</script>


:common-scripts






<!-- This script takes care of rollovers for silly people still using IE6 -->

<!--[if lte IE 7]>  
  
<script type="text/javascript">$(function() {  
        $('.roll-container').mouseover  
            (function(){  
            $(this).addClass('over');  
        });  
        $('.roll-container').mouseout  
            (function(){  
            $(this).removeClass('over');  
        });  
  
});  
</script>  
<![endif]--> 

	</body>
</html>