<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@name's Portfolio - Archive</title>
		<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
		<link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen"> 
		<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<script src="/public/docs/javascript/jquery-1.7.1.min.js"></script>
		
		
		
	</head>
	<body>
		<div id="container">
		<div id="topbar">
			<a href="/"><h1 id="logo-alt" class="col two">
				<span class="hidden">@name
				<em>@profession</em></span>
			</h1></a>		
			:navigation
			<p class="col six hidden"><em> :pages </em></p>
			</div>
			<hr>
			<div id="content" class="home col fullwidth">			
				<div id="content-container" class="project-list col twelve" style="width: 1100px;">
				
				<div id="archive-container" class="col twelve" style="width:952px; display:none;">
				
			

				<div class="archive-project-list">		
				
			    foreach $children do
			   		 
			    		
			    		<p class="archive-category-title"><a href="@url">@title</a></p>
			    			foreach $children do			    			
			    				<p class="archive-project-title"><a href="@url">/ @title</a></p>
			    			endforeach 			    		
			    						    		
			    		
			    endforeach
			    
	    		<!-- This puts in the front featured content but now we are just going to double up
	    		get "/featured"	do
				<p class="archive-category-title"><a href="@url">@title</a></p>
	    			foreach $children do
	    				<p class="archive-project-title"><a href="@url">/ @title</a></p>
	    			endforeach  
	   			end
				
				-->
				</div>
				</div>	
				<div id="right-col" class="col one">
			<a class="no-underline" title="To featured" href="/"><img src="/public/images/cross.jpg" width="52" height="52" /></a><br />
			To featured		
			</div>		
				</div>						
			</div>		
			
			<hr>
			<p id="footer" class="col fullwidth">
			:footer
			</p>
		</div>
		
<!-- Here are some Javascript Includes etc to make things pretty -->

:common-scripts
		

	</body>
</html>