    foreach $children do    
   		 
    		<div class="category_thumb">
    		<a href="@url">
    			<div class="roll-container">
    			<div class="shown-rollover">
    			<!-- get rid of the thumbnail <img src="@thumb" alt=""> -->
    			<br />
    			<p class="thumb-title">@title</p>
    			<p class="thumb-description">@description</p>
    			<p class="thumb-keywords">@keywords</p>
    			</div>
    			<div class="hidden-rollover">Let me see more</div>
    			</div>
    		</a>
    		</div>    
    	
    endforeach 